@model IEnumerable<VinylCollector.Models.Vinyl.Track>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            Artist
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSingle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Length)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <th>
            @Html.DisplayTextFor(modelItem => item.Artist.Name)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.IsSingle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Length)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TrackID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TrackID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TrackID })
        </td>
    </tr>
}

</table>
