@model IEnumerable<VinylCollector.Models.Vinyl.Album>

@{
    ViewBag.Title = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Browse</h2>

<p>
    @Html.ActionLink("Create New", "New")
</p>

<div class="card-deck" style="display:inline-flex">
    @foreach (var item in Model)
    {
    <div class="card">
        <img class="card-img-top" src="@item.ImageURL" alt="Card image cap">
        <div class="card-body">
            @Html.ActionLink(item.Title, "Details", "Albums", new { @id = item.AlbumId}, null)
            <p class="card-text">@item.Artist.Name</p>
        </div>
    </div>

        @*<img src="@item.ImageURL" alt ="" class="rounded float-left" />
        <p>@Html.ActionLink(item.Title, "Details", "Albums", new { @id = item.AlbumId}, null)</p>
        <p>@item.Artist.Name</p>*@
    }
</div>

<div>
    @Html.ActionLink("Home", "Index", "Home")
</div>